.el-table__cell:not(.wrap) > .cell {
    white-space: nowrap !important;
}

.el-table .cell {
    line-height: unset !important;
}

.el-table .cell .el-switch {
    height: unset;
}

.el-table .cell:has(> .el-switch) {
    @apply flex-middle;
}
